#container {
    width: 95%;
    max-width: 800px;
    font-family: monospace;
    margin: 0 auto;
    color: black;
    background: white;
}

header {
    width: 100%;
    text-align: center;
    border-bottom-style: dotted;
}

article {
    width: 70%;
    float: right;
}

nav {
    width: 29%;
    float: left;
}

footer {
    border-top-style: dotted;
    width: 100%;
    display: flex;
}

img {
    width: 100%;
}

h1 cite {
    color: #FFF;
    background: #222;
    padding-left: 4px;
    padding-right: 4px;
}

footer a {
    padding-left: 8px;
    padding-right: 8px;
}
