<!DOCTYPE html>
<head>

<title>A Test Run</title>
<link rel='stylesheet' type='text/css' href='style.css'>

</head>

<!-- TRADING PLACES TRADING PLACES TRADING PLACES-->

<body>
<div id='container'>

<header>
<a href='/'>
<img src='http://share.elijahcaine.me/blog_cover.jpg' class='header'></img>
</a>
</header>

{% block content %}{% endblock %}

<nav>
<h2> Posts </h2>
<ul>
{% for e in navigation %}
    {% if loop.index <= archive_cutoff %}
    {% if e['url'] != '/index/' %}
    <li>
    {% if e['filename'] == filename %}
    <strong>
    <a href="{{ e['url'] }}"> {{ e['title'] }} </a>
    </strong>
    {% else %}
    <a href="{{ e['url'] }}"> {{ e['title'] }} </a>
    {% endif %}
    </li>
    {% endif %}
    {% endif %}
{% endfor %}
    <li>
    <a href="{{ archive_url }}"> Archive </a>
    </li>
</ul>
</nav>

<footer>
I'm not sure it's really supposed to make sense...
</footer>

</div>
</body>
